<h1 class="text-center mt-5">Welcome to MessageApp!</h1>
<div class="container login__wrapper"> 
  <div class="d-md-flex justify-content-evenly align-items-center">
    <%=image_tag("undraw_authentication_fsn5.svg", alt:"Auth", class:"login__img")%>
    <div class="flex-grow-1 ms-4">
      <form>
        <div class="form-group mb-3">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
      </form>
      <div class="d-md-flex text-start justify-content-start mt-md-2">
        <p class="login__signin-text">Don't have an account yet?</p>
        <a href="#" class="btn btn-secondary ms-3">Sign in</a>
      </div>
    </div>
  </div>
</div>